@font-face {
    font-family: 'Cochin LT Std';
    src: url('CochinLTStd-Italic.eot');
    src: local('Cochin LT Std Italic'), local('CochinLTStd-Italic'),
        url('CochinLTStd-Italic.eot?#iefix') format('embedded-opentype'),
        url('CochinLTStd-Italic.woff2') format('woff2'),
        url('CochinLTStd-Italic.woff') format('woff'),
        url('CochinLTStd-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cochin LT Std';
    src: url('CochinLTStd-Bold.eot');
    src: local('Cochin LT Std Bold'), local('CochinLTStd-Bold'),
        url('CochinLTStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('CochinLTStd-Bold.woff2') format('woff2'),
        url('CochinLTStd-Bold.woff') format('woff'),
        url('CochinLTStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cochin LT Std';
    src: url('CochinLTStd.eot');
    src: local('Cochin LT Std Roman'), local('CochinLTStd'),
        url('CochinLTStd.eot?#iefix') format('embedded-opentype'),
        url('CochinLTStd.woff2') format('woff2'),
        url('CochinLTStd.woff') format('woff'),
        url('CochinLTStd.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cochin LT Std';
    src: url('CochinLTStd-BoldItalic.eot');
    src: local('Cochin LT Std Bold Italic'), local('CochinLTStd-BoldItalic'),
        url('CochinLTStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CochinLTStd-BoldItalic.woff2') format('woff2'),
        url('CochinLTStd-BoldItalic.woff') format('woff'),
        url('CochinLTStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

