/* OpenSans */
@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-SemiBoldItalic.eot');
	src: local('../assets/fonts/OpenSans/Open Sans SemiBold Italic'), local('../assets/fonts/OpenSans/OpenSans-SemiBoldItalic'),
		url('../assets/fonts/OpenSans/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-SemiBoldItalic.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-LightItalic.eot');
	src: local('../assets/fonts/OpenSans/Open Sans Light Italic'), local('../assets/fonts/OpenSans/OpenSans-LightItalic'),
		url('../assets/fonts/OpenSans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-LightItalic.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-Bold.eot');
	src: local('../assets/fonts/OpenSans/Open Sans Bold'), local('../assets/fonts/OpenSans/OpenSans-Bold'),
		url('../assets/fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.eot');
	src: local('../assets/fonts/OpenSans/Open Sans ExtraBold Italic'), local('../assets/fonts/OpenSans/OpenSans-ExtraBoldItalic'),
		url('../assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-Light.eot');
	src: local('../assets/fonts/OpenSans/Open Sans Light'), local('../assets/fonts/OpenSans/OpenSans-Light'),
		url('../assets/fonts/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-Light.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-Italic.eot');
	src: local('../assets/fonts/OpenSans/Open Sans Italic'), local('../assets/fonts/OpenSans/OpenSans-Italic'),
		url('../assets/fonts/OpenSans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-Italic.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-Regular.eot');
	src: local('../assets/fonts/OpenSans/Open Sans Regular'), local('../assets/fonts/OpenSans/OpenSans-Regular'),
		url('../assets/fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-SemiBold.eot');
	src: local('../assets/fonts/OpenSans/Open Sans SemiBold'), local('../assets/fonts/OpenSans/OpenSans-SemiBold'),
		url('../assets/fonts/OpenSans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-SemiBold.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-ExtraBold.eot');
	src: local('../assets/fonts/OpenSans/Open Sans ExtraBold'), local('../assets/fonts/OpenSans/OpenSans-ExtraBold'),
		url('../assets/fonts/OpenSans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-ExtraBold.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-BoldItalic.eot');
	src: local('../assets/fonts/OpenSans/Open Sans Bold Italic'), local('../assets/fonts/OpenSans/OpenSans-BoldItalic'),
		url('../assets/fonts/OpenSans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

/* Inter */
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-BoldItalic.eot');
    src: local('../assets/fonts/Inter/Inter Bold Italic'), local('../assets/fonts/Inter/Inter-BoldItalic'),
        url('../assets/fonts/Inter/Inter-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-BoldItalic.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-MediumItalic.eot');
    src: local('../assets/fonts/Inter/Inter Medium Italic'), local('../assets/fonts/Inter/Inter-MediumItalic'),
        url('../assets/fonts/Inter/Inter-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-MediumItalic.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-MediumItalic.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-ThinItalicBETA.eot');
    src: local('../assets/fonts/Inter/Inter Thin Italic BETA'), local('../assets/fonts/Inter/Inter-ThinItalicBETA'),
        url('../assets/fonts/Inter/Inter-ThinItalicBETA.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-ThinItalicBETA.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-ThinItalicBETA.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-ThinItalicBETA.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-Regular.eot');
    src: local('../assets/fonts/Inter/Inter Regular'), local('../assets/fonts/Inter/Inter-Regular'),
        url('../assets/fonts/Inter/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-Regular.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-Regular.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-Black.eot');
    src: local('../assets/fonts/Inter/Inter Black'), local('../assets/fonts/Inter/Inter-Black'),
        url('../assets/fonts/Inter/Inter-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-Black.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-Black.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-BlackItalic.eot');
    src: local('../assets/fonts/Inter/Inter Black Italic'), local('../assets/fonts/Inter/Inter-BlackItalic'),
        url('../assets/fonts/Inter/Inter-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-BlackItalic.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-BlackItalic.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-LightBETA.eot');
    src: local('../assets/fonts/Inter/Inter Light BETA'), local('../assets/fonts/Inter/Inter-LightBETA'),
        url('../assets/fonts/Inter/Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-LightBETA.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-LightBETA.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-LightBETA.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-SemiBold.eot');
    src: local('../assets/fonts/Inter/Inter Semi Bold'), local('../assets/fonts/Inter/Inter-SemiBold'),
        url('../assets/fonts/Inter/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-SemiBold.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-ExtraBoldItalic.eot');
    src: local('../assets/fonts/Inter/Inter Extra Bold Italic'), local('../assets/fonts/Inter/Inter-ExtraBoldItalic'),
        url('../assets/fonts/Inter/Inter-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-ExtraBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-ExtraBoldItalic.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-Bold.eot');
    src: local('../assets/fonts/Inter/Inter Bold'), local('../assets/fonts/Inter/Inter-Bold'),
        url('../assets/fonts/Inter/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-Bold.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-Bold.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-ExtraLightItalicBETA.eot');
    src: local('../assets/fonts/Inter/Inter Extra Light Italic BETA'), local('../assets/fonts/Inter/Inter-ExtraLightItalicBETA'),
        url('../assets/fonts/Inter/Inter-ExtraLightItalicBETA.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-ExtraLightItalicBETA.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-ExtraLightItalicBETA.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-ExtraLightItalicBETA.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-ExtraLightBETA.eot');
    src: local('../assets/fonts/Inter/Inter Extra Light BETA'), local('../assets/fonts/Inter/Inter-ExtraLightBETA'),
        url('../assets/fonts/Inter/Inter-ExtraLightBETA.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-ExtraLightBETA.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-ExtraLightBETA.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-ExtraLightBETA.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-ExtraBold.eot');
    src: local('../assets/fonts/Inter/Inter Extra Bold'), local('../assets/fonts/Inter/Inter-ExtraBold'),
        url('../assets/fonts/Inter/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-ExtraBold.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-ThinBETA.eot');
    src: local('../assets/fonts/Inter/Inter Thin BETA'), local('../assets/fonts/Inter/Inter-ThinBETA'),
        url('../assets/fonts/Inter/Inter-ThinBETA.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-ThinBETA.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-ThinBETA.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-ThinBETA.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-LightItalicBETA.eot');
    src: local('../assets/fonts/Inter/Inter Light Italic BETA'), local('../assets/fonts/Inter/Inter-LightItalicBETA'),
        url('../assets/fonts/Inter/Inter-LightItalicBETA.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-LightItalicBETA.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-LightItalicBETA.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-LightItalicBETA.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-Italic.eot');
    src: local('../assets/fonts/Inter/Inter Italic'), local('../assets/fonts/Inter/Inter-Italic'),
        url('../assets/fonts/Inter/Inter-Italic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-Italic.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-Italic.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-SemiBoldItalic.eot');
    src: local('../assets/fonts/Inter/Inter Semi Bold Italic'), local('../assets/fonts/Inter/Inter-SemiBoldItalic'),
        url('../assets/fonts/Inter/Inter-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-SemiBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-SemiBoldItalic.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-Medium.eot');
    src: local('../assets/fonts/Inter/Inter Medium'), local('../assets/fonts/Inter/Inter-Medium'),
        url('../assets/fonts/Inter/Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-Medium.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-Medium.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
