/* Greenwich */
@font-face {
    font-family: 'Greenwich';
    src: url('../assets/fonts/Greenwich/Greenwich-Light.eot');
    src: local('Greenwich-Light'),
        url('../assets/fonts/Greenwich/Greenwich-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-Light.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-Light.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Greenwich ExtBd';
    src: url('../assets/fonts/Greenwich/Greenwich-ExtraBoldItalic.eot');
    src: local('Greenwich-ExtraBoldItalic'),
        url('../assets/fonts/Greenwich/Greenwich-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-ExtraBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-ExtraBoldItalic.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Greenwich';
    src: url('../assets/fonts/Greenwich/Greenwich-Italic.eot');
    src: local('Greenwich-Italic'),
        url('../assets/fonts/Greenwich/Greenwich-Italic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-Italic.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-Italic.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Greenwich SemBd';
    src: url('../assets/fonts/Greenwich/Greenwich-SemiBoldItalic.eot');
    src: local('Greenwich-SemiBoldItalic'),
        url('../assets/fonts/Greenwich/Greenwich-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-SemiBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-SemiBoldItalic.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Greenwich SemBd';
    src: url('../assets/fonts/Greenwich/Greenwich-SemiBold.eot');
    src: local('Greenwich-SemiBold'),
        url('../assets/fonts/Greenwich/Greenwich-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-SemiBold.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Greenwich Med';
    src: url('../assets/fonts/Greenwich/Greenwich-Medium.eot');
    src: local('Greenwich-Medium'),
        url('../assets/fonts/Greenwich/Greenwich-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-Medium.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-Medium.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Greenwich ExtLt';
    src: url('../assets/fonts/Greenwich/Greenwich-ExtraLightItalic.eot');
    src: local('Greenwich-ExtraLightItalic'),
        url('../assets/fonts/Greenwich/Greenwich-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-ExtraLightItalic.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-ExtraLightItalic.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Greenwich';
    src: url('../assets/fonts/Greenwich/Greenwich-ThinItalic.eot');
    src: local('Greenwich-ThinItalic'),
        url('../assets/fonts/Greenwich/Greenwich-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-ThinItalic.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-ThinItalic.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Greenwich ExtBd';
    src: url('../assets/fonts/Greenwich/Greenwich-ExtraBold.eot');
    src: local('Greenwich-ExtraBold'),
        url('../assets/fonts/Greenwich/Greenwich-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-ExtraBold.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Greenwich';
    src: url('../assets/fonts/Greenwich/Greenwich-Thin.eot');
    src: local('Greenwich-Thin'),
        url('../assets/fonts/Greenwich/Greenwich-Thin.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-Thin.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-Thin.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Greenwich Med';
    src: url('../assets/fonts/Greenwich/Greenwich-MediumItalic.eot');
    src: local('Greenwich-MediumItalic'),
        url('../assets/fonts/Greenwich/Greenwich-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-MediumItalic.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-MediumItalic.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Greenwich';
    src: url('../assets/fonts/Greenwich/Greenwich-BlackItalic.eot');
    src: local('Greenwich-BlackItalic'),
        url('../assets/fonts/Greenwich/Greenwich-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-BlackItalic.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-BlackItalic.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Greenwich';
    src: url('../assets/fonts/Greenwich/Greenwich-Regular.eot');
    src: local('Greenwich-Regular'),
        url('../assets/fonts/Greenwich/Greenwich-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-Regular.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-Regular.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Greenwich';
    src: url('../assets/fonts/Greenwich/Greenwich-LightItalic.eot');
    src: local('Greenwich-LightItalic'),
        url('../assets/fonts/Greenwich/Greenwich-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-LightItalic.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Greenwich';
    src: url('../assets/fonts/Greenwich/Greenwich-Bold.eot');
    src: local('Greenwich-Bold'),
        url('../assets/fonts/Greenwich/Greenwich-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-Bold.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-Bold.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Greenwich';
    src: url('../assets/fonts/Greenwich/Greenwich-BoldItalic.eot');
    src: local('Greenwich-BoldItalic'),
        url('../assets/fonts/Greenwich/Greenwich-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-BoldItalic.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Greenwich ExtLt';
    src: url('../assets/fonts/Greenwich/Greenwich-ExtraLight.eot');
    src: local('Greenwich-ExtraLight'),
        url('../assets/fonts/Greenwich/Greenwich-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-ExtraLight.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Greenwich';
    src: url('../assets/fonts/Greenwich/Greenwich-Black.eot');
    src: local('Greenwich-Black'),
        url('../assets/fonts/Greenwich/Greenwich-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Greenwich/Greenwich-Black.woff2') format('woff2'),
        url('../assets/fonts/Greenwich/Greenwich-Black.woff') format('woff'),
        url('../assets/fonts/Greenwich/Greenwich-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* OpenSans */
@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-SemiBoldItalic.eot');
	src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
		url('../assets/fonts/OpenSans/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-SemiBoldItalic.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-LightItalic.eot');
	src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
		url('../assets/fonts/OpenSans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-LightItalic.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-Bold.eot');
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('../assets/fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.eot');
	src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
		url('../assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-Light.eot');
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url('../assets/fonts/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-Light.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-Italic.eot');
	src: local('Open Sans Italic'), local('OpenSans-Italic'),
		url('../assets/fonts/OpenSans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-Italic.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-Regular.eot');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('../assets/fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-SemiBold.eot');
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('../assets/fonts/OpenSans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-SemiBold.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-ExtraBold.eot');
	src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
		url('../assets/fonts/OpenSans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-ExtraBold.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans/OpenSans-BoldItalic.eot');
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
		url('../assets/fonts/OpenSans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff'),
		url('../assets/fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
