/* Montserrat Alternates */
@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraLight.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates ExtraLight'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraLight'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraLight.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-SemiBold.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates SemiBold'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-SemiBold'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-SemiBold.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-MediumItalic.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates Medium Italic'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-MediumItalic'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-MediumItalic.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-Light.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates Light'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-Light'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Light.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-Medium.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates Medium'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-Medium'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Medium.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-SemiBoldItalic.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates SemiBold Italic'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-SemiBoldItalic'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-SemiBoldItalic.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-Italic.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates Italic'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-Italic'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Italic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Italic.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-Regular.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates Regular'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-Regular'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Regular.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-Bold.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates Bold'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-Bold'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Bold.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraBold.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates ExtraBold'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraBold'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraBold.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-LightItalic.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates Light Italic'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-LightItalic'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-LightItalic.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-BoldItalic.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates Bold Italic'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-BoldItalic'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-BoldItalic.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-Thin.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates Thin'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-Thin'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Thin.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Thin.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraBoldItalic.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates ExtraBold Italic'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraBoldItalic'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraBoldItalic.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraLightItalic.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates ExtraLight Italic'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraLightItalic'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraLightItalic.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-BlackItalic.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates Black Italic'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-BlackItalic'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-BlackItalic.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-ThinItalic.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates Thin Italic'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-ThinItalic'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-ThinItalic.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../assets/fonts/MontserratAlternates/MontserratAlternates-Black.eot');
    src: local('../assets/fonts/MontserratAlternates/Montserrat Alternates Black'), local('../assets/fonts/MontserratAlternates/MontserratAlternates-Black'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Black.woff') format('woff'),
        url('../assets/fonts/MontserratAlternates/MontserratAlternates-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* FoglihtenNo06 */
@font-face {
    font-family: 'FoglihtenNo';
    src: url('../assets/fonts/FoglihtenNo06.otf');
}