@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-Regular.eot');
    src: local('Quicksand Regular'), local('Quicksand-Regular'),
        url('../fonts/Quicksand/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand/Quicksand-Regular.woff') format('woff'),
        url('../fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-Italic.eot');
    src: local('Quicksand Italic'), local('Quicksand-Italic'),
        url('../fonts/Quicksand/Quicksand-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand/Quicksand-Italic.woff') format('woff'),
        url('../fonts/Quicksand/Quicksand-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand Dash';
    src: url('../fonts/Quicksand/QuicksandDash-Regular.eot');
    src: local('Quicksand Dash Regular'), local('QuicksandDash-Regular'),
        url('../fonts/Quicksand/QuicksandDash-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand/QuicksandDash-Regular.woff') format('woff'),
        url('../fonts/Quicksand/QuicksandDash-Regular.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-Bold.eot');
    src: local('Quicksand Bold'), local('Quicksand-Bold'),
        url('../fonts/Quicksand/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand/Quicksand-Bold.woff') format('woff'),
        url('../fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-LightItalic.eot');
    src: local('Quicksand Light Italic'), local('Quicksand-LightItalic'),
        url('../fonts/Quicksand/Quicksand-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand/Quicksand-LightItalic.woff') format('woff'),
        url('../fonts/Quicksand/Quicksand-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-Light.eot');
    src: local('Quicksand Light'), local('Quicksand-Light'),
        url('../fonts/Quicksand/Quicksand-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand/Quicksand-Light.woff') format('woff'),
        url('../fonts/Quicksand/Quicksand-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-BoldItalic.eot');
    src: local('Quicksand Bold Italic'), local('Quicksand-BoldItalic'),
        url('../fonts/Quicksand/Quicksand-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Quicksand/Quicksand-BoldItalic.woff') format('woff'),
        url('../fonts/Quicksand/Quicksand-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
