@import url("font.css");

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 17px;
    outline: none;
    scrollbar-width: thin;
    scrollbar-color: var(--color-1) var(--color-2);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: var(--color-2);

    &-thumb {
        background: var(--color-1);
    }
}

:root {
    --color-1: #395EA6;
    --color-2: #292929;
    --color-3: #1A3976;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100vh;
}

.action__btn {
    display: block;
    width: fit-content;
    padding: 13px 30px;
    text-decoration: none;
    border: 2px solid var(--color-1);
    min-width: 220px;
    text-align: center;
    box-sizing: border-box;
    font-size: 17px;
    color: var(--color-1);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: .3s ease;

    &:hover {
        background: var(--color-1);
        color: #fff;
    }

    &.white {
        border-color: #fff;
        color: #fff;

        &:hover {
            background: #fff;
            color: var(--color-1);
        }
    }
}

.section {

    &__title {
        position: relative;
        display: block;
        width: fit-content;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
        color: var(--color-2);
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-bottom: 9px;

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            height: 2px;
            transform: translateX(-50%);
            background: var(--color-1);
            width: 82px;
            border-radius: 100px;
        }

        &.white {
            color: #fff;

            &:after {
                background: #fff;
            }
        }
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 34px 0;

    &__container {
        max-width: 1620px;
        width: 95%;
        margin: 0 auto;
    }

    &__logo {

        &_img {
            object-fit: contain;
            object-position: left;
        }

        &_desc {
            color: var(--color-2);
            font-size: 15px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            max-width: 300px;
        }
    }

    &__nav {
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        gap: 20px;

        a {
            display: block;
            text-decoration: none;
            cursor: pointer;
            color: var(--color-2);

            &:hover {
                color: var(--color-1);
            }
        }
    }

    &__socials {
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        gap: 24px;
    }

    &__phone {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.main--banner {
    position: relative;
    padding: 290px 0;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;
        background: var(--color-3);
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    }

    &__title {
        position: relative;
        color: transparent;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 40px;
        background-image: url("../img/backgrounds/banner--title__bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: text;
        z-index: 1;
    }

    &__subtitle {
        position: relative;
        position: relative;
        margin: 40px 0 65px;
        padding-left: 57px;
        color: var(--color-2);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        z-index: 1;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 42px;
            height: 3px;
            background: var(--color-1);
            transform: translateY(-50%);
            border-radius: 100px;
        }
    }

    &_img {
        position: absolute;
        top: 50%;
        width: 50%;
        height: unset;
        right: 0;
        aspect-ratio: 977 / 715;
        max-height: 80%;
        object-fit: contain;
        object-position: center;
        transform: translateY(-50%);
        z-index: 1;
    }

    .action {

        &__btn {
            position: relative;
            margin-top: 65px;
            z-index: 1;
        }
    }
}

.adventages {
    position: relative;
    margin: -84px 0 100px;

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
    }

    &__item {
        border-radius: 10px;
        background: var(--color-2);
        box-shadow: 0 -7px 0 var(--color-1);
        padding: 35px 15px 45px;

        &_data {
            display: grid;
            grid-template-columns: 70px 1fr;
            gap: 4px;
            align-items: center;
        }

        &_icon {
            object-position: center;
            object-fit: contain;
            width: 100%;
            height: unset;
            aspect-ratio: 1 / 1;
        }

        &_name {
            color: #fff;
        }

        &_text {
            color: #fff;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 28px;
        }
    }
}

.services {
    margin: 100px 0;

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 24px;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        background: #F4F4F4;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
        aspect-ratio: 416 / 273;
        padding: 20px;

        &_data {
            position: relative;
            display: block;
            max-width: 50%;
            z-index: 1;
        }

        &_name {
            color: var(--color-2);
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 0;
            transition: .4s ease;
        }

        &_img {
            position: absolute;
            max-height: 100%;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            pointer-events: none;
        }

        .action {
            &__btn {
                position: absolute;
                left: 0;
                top: 100%;
                display: block;
                font-size: 17px;
                padding: 10px 30px;
                min-width: 0;
                opacity: 0;
                pointer-events: none;
            }
        }

        &:hover .action__btn {
            pointer-events: auto;
            opacity: 1;
        }

        &:hover &_name {
            color: var(--color-1);
            margin-bottom: 65px;
        }
    }
}

.calculator {
    background: var(--color-1);
    margin: 100px 0;
    padding: 100px 0 80px;

    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

        div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            align-items: center;

            label {
                white-space: nowrap;
            }
        }

        label {
            display: block;
            width: 100%;
            color: #fff;
        }

        span {
            display: block;
        }

        input:not([type='checkbox']):not([type='radio']),
        select {
            display: block;
            width: 100%;
            background: transparent;
            color: #ffffffb3;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            padding: 11px 15px;
            border-radius: 10px;
            border: 1px solid #fff;
            margin-top: 4px;
        }

        select {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none"><path d="M6 7L0 0H12L6 7Z" fill="white"/></svg>') no-repeat center right 15px;
        }

        input[type='checkbox'] {
            position: relative;
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 4px;
            border: 1px solid #fff;
            transition: .3s ease;

            &:after,
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                height: 2px;
                width: 100%;
                background: #fff;
                border-radius: 100px;
                transition: .3s ease;
                opacity: 0;
            }

            &:after {
                transform: translateY(-50%) rotate(45deg);
            }

            &:before {
                transform: translateY(-50%) rotate(-45deg);
            }

            &:checked {

                &:after,
                &:before {
                    opacity: 1;
                }
            }
        }

        input[type='radio'] {
            display: block;
            width: 20px;
            height: 20px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: 1px solid #fff;
            border-radius: 50%;
            box-shadow: inset 0 0 0 5px var(--color-1);

            &:checked {
                background: #fff;
            }
        }

        .custom-input {
            display: grid;
            grid-template-columns: 20px 1fr;
            gap: 5px;
            align-items: flex-start;
        }
    }

    &__profit {

        background: url("../img/images/calculator--img.png") no-repeat center right 64px, #444;
        padding: 30px 40px 70px;
        color: #fff;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 10px;

        &_summ {
            display: block;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin: 13px 0 80px;
        }
    }

    .action {

        &__btn {
            min-width: unset;
            font-size: 17px;
        }
    }
}


.about-us {
    margin: 100px 0;

    &__img--wrapper {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            border: 2px solid #fff;
            inset: 15px;
            pointer-events: none;
        }

        img {
            width: 100%;
            height: unset;
        }
    }

    .row:not(:first-child):not(:last-child) {
        margin-bottom: 33px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        position: relative;
        color: var(--color-2);
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 30px;
        padding-left: 110px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 86px;
            height: 2px;
            background: var(--color-1);
        }
    }

    p,
    li {
        color: var(--color-2);
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 1em;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
            display: grid;
            grid-template-columns: 18px 1fr;
            gap: 15px;
            margin-bottom: 6px;

            &:before {
                content: '';
                width: 18px;
                height: 18px;
                background: url("../img/icons/snow--icon.svg") no-repeat center center / contain;
            }
        }
    }

    p b {
        color: var(--color-1);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }

    .action {

        &__btn {
            min-width: 0;
            margin-top: 85px;
        }
    }
}

.portfolio {
    margin: 100px 0;
    padding: 100px 0;
    background: var(--color-1);

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    &__item {
        text-decoration: none;

        &_thumb {
            display: block;
            width: 100%;
            height: unset;
            aspect-ratio: 416 / 318;
            object-fit: cover;
            object-position: center;
        }

        &_name {
            display: block;
            padding: 13px 0;
            color: #000;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            background: #fff;
        }
    }
}


.faq {
    margin: 100px 0;

    &__item {
        margin-bottom: 20px;

        label {
            display: grid;
            grid-template-columns: 1fr 40px;
            gap: 10px;
            align-items: center;
            color: var(--color-2);
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-bottom: 10px;
            border-bottom: 1px solid #929292;

            &:after {
                content: '';
                display: block;
                width: 40px;
                height: 40px;
                background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><rect width="40" height="40" rx="20" fill="%23395EA6"/><path d="M9 20H31" stroke="white" stroke-linecap="square"/><path d="M20 9V31" stroke="white" stroke-linecap="square"/></svg>') no-repeat center center / contain;
            }
        }

        &_text {
            display: none;
            padding: 20px 0;

            p {
                color: var(--color-2);
                font-size: 16px;
                line-height: normal;
            }
        }

        input:checked~&_text {
            display: block;
        }
    }

    &__form {
        border-radius: 10px;
        background: #fff;
        border: 3px solid var(--color-2);
        box-shadow: 1px 2px 9px 0px rgba(28, 62, 114, 0.44);
        padding: 46px 55px 50px;

        &_title {
            text-align: center;
            color: var(--color-2);
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 38px;
        }

        &_subtitle {
            display: block;
            color: #444;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            margin-bottom: 16px;
        }

        form {
            span {
                display: block;
                margin-bottom: 50px;

                input {
                    display: block;
                    width: 100%;
                    padding: 20px 14px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    border-radius: 10px;
                    border: 1px solid var(--color-2)
                }
            }

            .action {

                &__btn {
                    background: transparent;
                    margin: 0 auto;

                    &:hover {
                        background: var(--color-1);
                    }
                }
            }
        }
    }
}


.footer--form {
    &__wrapper {
        padding: 50px 110px;
        background: url("../img/backgrounds/footer--form.jpg") no-repeat center right / cover;
    }

    &__title {
        position: relative;
        color: #fff;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-left: 60px;
        margin-bottom: 20px;

        &:after {
            content: '';
            position: absolute;
            height: 1px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 52px;
            background: #fff;
            border-radius: 100px;
        }
    }

    &__subtitle {
        color: #fff;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 20px 0 30px;
    }

    form {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;

        span {
            display: block;

            input:not([type='checkbox']) {
                display: block;
                width: 100%;
                padding: 20px 0;
                background: transparent;
                border: none;
                border-bottom: 1px solid #fff;
                color: #fff;

                &::placeholder {
                    color: #fff;
                }
            }
        }

        label {
            display: grid;
            grid-template-columns: 20px 1fr;
            gap: 10px;
            align-items: center;
            grid-column: 1 / 3;
            color: #fff;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            input {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                display: block;
                width: 20px;
                height: 20px;
                background: #fff;

                &:checked {
                    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.2559 4.41083C17.5814 4.73626 17.5814 5.2639 17.2559 5.58934L8.08926 14.756C7.76382 15.0814 7.23618 15.0814 6.91074 14.756L2.74408 10.5893C2.41864 10.2639 2.41864 9.73626 2.74408 9.41083C3.06951 9.08539 3.59715 9.08539 3.92259 9.41083L7.5 12.9882L16.0774 4.41083C16.4028 4.08539 16.9305 4.08539 17.2559 4.41083Z" fill="%23292929"/></svg>'), #fff;
                }
            }
        }

        .action {

            &__btn {
                min-width: 0;
                padding: 10px 30px;

                &.white {
                    background: transparent;

                    &:hover {
                        background: #fff;
                    }
                }
            }
        }
    }
}


.footer {
    padding: 50px 0 60px;
    background: var(--color-2);

    &_top {
        padding-bottom: 32px;
        border-bottom: 1px solid #fff;
    }

    &_bottom {
        padding-top: 35px;

        .action__btn {
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            min-width: 0;
            padding: 12px 43px;
        }
    }

    &__logo {

        &_img {
            object-fit: contain;
            object-position: left;
        }
    }

    &__nav {
        display: flex;
        margin-bottom: 0;
        padding-left: 0;
        gap: 40px;
        list-style: none;

        a {
            text-decoration: none;
            color: #fff;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &__politic {
        color: #fff;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        b {
            display: block;
            font: inherit;
        }
    }

    &__contacts {
        padding-left: 0;
        margin: 0 65px 0 auto;

        a {
            display: block;
            text-align: right;
            color: #fff;
            text-decoration: none;
            font-style: normal;
            line-height: normal;
        }

        &_phone {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 600;
        }

        &_mail {
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.modalwindow {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    background: #2929294f;
    z-index: 10;
    transition: .3s ease;
    opacity: 0;
    pointer-events: none;
    &.active {
        opacity: 1;
        pointer-events: auto;
    }
    &__panel {
        position: relative;
        background: #fff;
        width: 95%;
        max-width: 483px;
        padding: 40px 30px;
        border-radius: 4px;
    }

    &__close {
        position: absolute;
        top: 11px;
        right: 11px;
        width: 24px;
        height: 24px;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289Z" fill="%2308254F"/><path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" fill="%2308254F"/></svg>') no-repeat center center / contain;
        cursor: pointer;
    }

    &__caption {
        text-align: center;
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 67%;
        margin: 0 auto 16px;
    }

    form {
        label {
            display: block;
            color: #1f1f1f;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 2.14em;
            margin-bottom: 22px;
        }
        span {
            display: block;
            input {
                width: 100%;
                border-radius: 10px;
                border: 1px solid var(--color-1);
                padding: 14px;
            }
        }
        .action {

            &__btn {
                margin-top: 32px;
                min-width: 0;
                margin: 32px auto 0;
                background: transparent;
                &:hover {
                    background: var(--color-1);
                }
            }
        }
    }
}


@media (max-width: 1500px) {
    .header__phone {
        font-size: 17px;
    }

    .header .action__btn {
        min-width: 0;
    }

    .header__nav a {
        font-size: 15px;
    }
}

@media (max-width: 1399px) {
    .action__btn {
        padding: 9px 16px;
        font-size: 13px;
    }

    .header__logo_desc {
        font-size: 12px;
    }

    .header__nav a {
        font-size: 14px;
    }

    .header__logo_desc {
        font-size: 13px;
    }

    .header__socials {
        gap: 15px;
    }

    .main--banner {
        padding: 200px 0;
    }

    .main--banner:after {
        width: 45%;
    }

    .main--banner_img {
        max-height: 60%;
    }

    .main--banner__title {
        font-size: 40px;
    }

    .adventages__item_data {
        grid-template-columns: 50px 1fr;
    }

    .adventages__item_name {
        font-size: 14px;
    }

    .adventages__item_text {
        font-size: 14px;
    }

    .main--banner__subtitle {
        font-size: 17px;
    }

    .services__item_name {
        font-size: 17px;
    }

    .services__item_img {
        height: unset;
        width: 50%;
    }

    .services__item:hover .services__item_name {
        color: var(--color-1);
        margin-bottom: 45px;
    }

    .calculator__profit {
        background-position: center right 3%;
        background-size: 36%;
    }

    .calculator__profit_summ {
        font-size: 30px;
    }

    .about-us h1,
    .about-us h2,
    .about-us h3,
    .about-us h4,
    .about-us h5,
    .about-us h6 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .about-us p,
    .about-us li {
        font-size: 15px;
    }

    .portfolio__item_name {
        font-size: 15px;
    }

}

@media (max-width: 1199px) {
    .main--banner:after {
        width: 50%;
    }

    .header__logo_desc {
        display: none;
    }

    .header__socials {
        margin: 0 20px 0 auto;
    }

    .header__nav {
        margin-left: 30px;
    }

    .header__phone {
        margin-right: 20px;
    }

    .section__title {
        font-size: 30px;
    }

    .about-us .action__btn {
        margin-top: 25px;
    }

    .footer__politic {
        max-width: 35%;
    }

    .footer_bottom .action__btn {
        font-size: 16px;
        padding: 10px 23px;
    }

    .footer--form__title {
        font-size: 28px;
    }

    .footer--form form {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .main--banner_img {
        position: relative;
        display: block;
        top: 0;
        right: 0;
        transform: unset;
        max-height: unset;
        width: 80%;
        margin: 40px auto 0;
        // display: none;
    }

    .adventages__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .main--banner {
        padding: 140px 0 200px;
    }

    .main--banner:after {
        clip-path: polygon(70% 0, 100% 0, 100% 100%, 0 100%);
    }

    .services__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .calculator form {
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }

    .portfolio__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer--form form {
        grid-template-columns: 1fr;
    }

    .footer--form form label {
        grid-column: 1 / 2;
    }

    .footer__logo {
        display: block;
        width: 60%;
        max-width: 300px;
        margin: 0 auto 20px;

        img {
            width: 100%;
            height: unset;
        }
    }

    .footer__nav {
        display: grid;
        gap: 10px;
    }

    .footer_bottom {
        .d-flex {
            flex-direction: column !important;
        }

        .action__btn {
            order: 2;
            margin: 20px 0;
        }
    }

    .footer__contacts {
        order: 1;
        margin: 0 auto;
    }

    .footer__politic {
        order: 3;
        max-width: 100%;
    }

    .about-us__img--wrapper img {
        margin-bottom: 30px;
    }

    .faq__form {
        margin-top: 50px;
    }

    .footer--form__wrapper {
        padding: 50px 30px;
    }

    .footer--form__title {
        padding-left: 0;
        font-size: 20px;

        &:after {
            content: unset;
        }
    }

    .footer--form form label {
        font-size: 12px;
    }

    .header {
        z-index: 99;
    }

    .header__mobile--panel {
        position: fixed;
        display: grid;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        grid-template-columns: 1fr 50px 1fr;
        background: var(--color-2);
        gap: 24px;
        z-index: 20;

        a {
            display: flex;
            justify-content: center;
            gap: 10px;
            align-items: center;
            text-align: center;
            text-decoration: none;
            color: #fff;
        }
    }

    #menuBTN {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 50px;
        height: 50px;
        background: var(--color-1);
        border-radius: 50%;
        box-shadow: 0 0 0 3px var(--color-1);
        cursor: pointer;
        transition: .3s ease;

        span {
            width: 80%;
            height: 4px;
            background: #fff;
            border-radius: 50px;
            transition: .3s ease;
        }

        &.active {
            box-shadow: 0 0 0 3px #3d3d3d;
            background: #3d3d3d;

            span {
                &:nth-child(1) {
                    transform: translateY(9px) rotate(-45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateY(-9px) rotate(45deg);
                }
            }
        }
    }

    .header__mobile--menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 50px;
        width: 100%;
        max-width: 320px;
        background: #3d3d3d;
        padding: 30px 10px 0;
        transition: .3s ease;
        transform: translateX(-100%);

        &.active {
            transform: translateX(0);
        }

        .header__socials {
            margin-bottom: 20px;
        }

        .header__phone {
            display: block;
            width: fit-content;
            margin-bottom: 20px;
        }
    }

    .darkscreen {
        position: fixed;
        inset: 0;
        background: #2929294f;
        z-index: 5;
        backdrop-filter: blur(2px);
        pointer-events: none;
        opacity: 0;
        transition: .3s ease;

        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }

    .header__mobile_menu {
        padding-left: 0;
        margin-bottom: 30px;

        a {
            text-decoration: none;
            display: block;
            padding: 5px 0;
            color: #fff;
        }
    }
}

@media (max-width: 767px) {
    .main--banner:after {
        width: 30%;
    }

    .adventages__grid {
        grid-template-columns: 1fr;
    }

    .services__grid {
        grid-template-columns: 1fr;
    }

    .services__item {
        display: flex !important;
        margin: 0 12px;
    }

    .portfolio__grid {
        grid-template-columns: 1fr;
    }

    .slick-prev,
    .slick-next {
        width: 50px;
        height: 50px;
        box-shadow: 0 0 3px 1px #0005;
        border-radius: 50%;
        z-index: 1;
    }

    .action__btn {
        width: 100% !important;
        font-size: 16px !important;
        min-width: 0;
    }

    .calculator__profit {
        background: #444;
    }

    .faq__form {
        padding: 46px 15px 50px;
    }
}

@media (max-width: 575px) {
    .main--banner:after {
        content: unset;
    }

    .slick-prev,
    .slick-next {
        width: 30px;
        height: 30px;
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    .services__item {
        padding: 20px 30px;
    }

    .services__item_name {
        font-size: 12px;
    }

    .calculator form div {
        grid-template-columns: 1fr;
    }

    .main--banner__title {
        font-size: 27px;
    }

    .main--banner__subtitle:before {
        content: unset;
    }

    .main--banner__subtitle {
        padding-left: 0;
        font-size: 15px;
    }

    .section__title {
        font-size: 24px;
    }

    .calculator form label {
        font-size: 14px;
    }
    .modalwindow__panel {
        padding: 40px 10px;
    }
    .modalwindow__caption {
        width: 100%;
        font-size: 26px;
    }
}